<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShuDu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShuDu.Properties.Settings>
            <setting name="StartX" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="StartY" serializeAs="String">
                <value>159</value>
            </setting>
            <setting name="EndX" serializeAs="String">
                <value>806</value>
            </setting>
            <setting name="EndY" serializeAs="String">
                <value>458</value>
            </setting>
            <setting name="ConstWidth" serializeAs="String">
                <value>32</value>
            </setting>
        </ShuDu.Properties.Settings>
    </userSettings>
</configuration>